@charset "UTF-8";
/*CSS Document*/
/*START RESET*/
/* line 11, ../sass/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 20, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}

/* line 22, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 24, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 33, ../sass/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 36, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*END RESET*/
/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* line 44, ../sass/obaze_image_gallery.scss */
body {
  background-image: url(../imgs/other/back_ground.png);
  background-repeat: repeat-x repeat-y;
  font: 10px;
  width: 100%;
  font-family: "lucida grande", "lucida sans unicode", "lucida sans", lucida, sans-serif;
}

/* line 52, ../sass/obaze_image_gallery.scss */
.body {
  clear: both;
  width: 100%;
}
/* line 56, ../sass/obaze_image_gallery.scss */
.body .mainHeader {
  height: 85px;
  width: auto;
  overflow: hidden;
  background-color: white;
}
/* line 62, ../sass/obaze_image_gallery.scss */
.body .mainHeader .logoContainer {
  width: 8%;
  height: auto;
  float: left;
  margin-left: .75%;
  padding-top: 12px;
}
/* line 70, ../sass/obaze_image_gallery.scss */
.body .mainHeader .navLinks {
  height: 55px;
  width: 45%;
  float: right;
  margin-top: 10px;
  padding-top: 20px;
}
/* line 77, ../sass/obaze_image_gallery.scss */
.body .mainHeader .navLinks ul {
  float: right;
  width: 40%;
}
/* line 82, ../sass/obaze_image_gallery.scss */
.body .mainHeader .navLinks a {
  text-decoration: none;
}
/* line 87, ../sass/obaze_image_gallery.scss */
.body .mainHeader .navLinks li {
  display: block;
  float: left;
  list-style: none;
  margin: 3%;
  padding-top: 12px;
}

/* line 98, ../sass/obaze_image_gallery.scss */
a:link {
  color: black;
}

/* line 102, ../sass/obaze_image_gallery.scss */
a:visited {
  color: black;
}

/* line 105, ../sass/obaze_image_gallery.scss */
a:hover, a:active {
  color: red;
}

/* line 113, ../sass/obaze_image_gallery.scss */
.wrapper {
  margin: 0 auto;
  width: 70%;
  clear: both;
  padding-top: 50px;
}
/* line 119, ../sass/obaze_image_gallery.scss */
.wrapper .imageGallery {
  -moz-border-radius: 10px 10px;
  -webkit-border-radius: 10px 10px;
  -khtml-border-radius: 10px 10px;
  -o-border-radius: 10px 10px;
  border-radius: 10px 10px;
  border: 0px #4e4e4e solid;
  margin: 0 auto;
  width: auto;
  height: 900px;
  background-color: #bdbdbd;
}

/* line 126, ../sass/obaze_image_gallery.scss */
#mainGallery {
  margin-left: 1.25%;
  padding-top: 40px;
}
/* line 129, ../sass/obaze_image_gallery.scss */
#mainGallery a {
  font-size: small;
  margin: .5%;
  margin-top: 10px;
}

/* line 136, ../sass/obaze_image_gallery.scss */
#firstPic {
  width: 65%;
  display: block;
  margin: 0 auto;
  border: solid gray 10px;
}

/* line 143, ../sass/obaze_image_gallery.scss */
.hide {
  display: none;
}

/* line 147, ../sass/obaze_image_gallery.scss */
#albumList {
  margin: 0 auto;
  width: 80%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 10%;
}
/* line 154, ../sass/obaze_image_gallery.scss */
#albumList a {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  margin: 5%;
}
/* line 162, ../sass/obaze_image_gallery.scss */
#albumList a:link {
  color: black;
}
/* line 166, ../sass/obaze_image_gallery.scss */
#albumList a:visited {
  color: red;
}
/* line 169, ../sass/obaze_image_gallery.scss */
#albumList a:hover, #albumList a:active {
  color: red;
}
/* line 173, ../sass/obaze_image_gallery.scss */
#albumList a:active {
  color: red;
}

/* line 179, ../sass/obaze_image_gallery.scss */
#photoCaption {
  margin-left: 45%;
  margin-top: 20px;
}

/* line 185, ../sass/obaze_image_gallery.scss */
.threeColumns {
  clear: both;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  height: 350px;
}
/* line 193, ../sass/obaze_image_gallery.scss */
.threeColumns h1 {
  color: white;
  margin-top: 20px;
}
/* line 198, ../sass/obaze_image_gallery.scss */
.threeColumns .columnOne {
  width: 32%;
  height: 350px;
  float: left;
  background-color: #bdbdbd;
  font-size: 1.5em;
  text-align: center;
  margin-right: 1.8%;
}
/* line 201, ../sass/obaze_image_gallery.scss */
.threeColumns .columnOne p {
  font-size: .7em;
  text-align: left;
  width: 80%;
  padding-left: 10%;
  padding-top: 5%;
  line-height: 1.2em;
  color: white;
}
/* line 206, ../sass/obaze_image_gallery.scss */
.threeColumns .columnTwo {
  width: 32%;
  height: 350px;
  float: left;
  background-color: #bdbdbd;
  font-size: 1.5em;
  text-align: center;
}
/* line 208, ../sass/obaze_image_gallery.scss */
.threeColumns .columnTwo p {
  font-size: .7em;
  text-align: left;
  width: 80%;
  padding-left: 10%;
  padding-top: 5%;
  line-height: 1.2em;
  color: white;
}
/* line 213, ../sass/obaze_image_gallery.scss */
.threeColumns .columnThree {
  width: 32%;
  height: 350px;
  float: left;
  background-color: #bdbdbd;
  font-size: 1.5em;
  text-align: center;
}
/* line 215, ../sass/obaze_image_gallery.scss */
.threeColumns .columnThree p {
  font-size: .7em;
  text-align: left;
  width: 80%;
  padding-left: 10%;
  padding-top: 5%;
  line-height: 1.2em;
  color: white;
}

/* line 221, ../sass/obaze_image_gallery.scss */
.footer {
  clear: both;
  background-color: #bdbdbd;
  height: 50px;
  margin-bottom: 20px;
}
/* line 226, ../sass/obaze_image_gallery.scss */
.footer p {
  text-align: center;
  padding-top: 15px;
  color: white;
}
