@charset "UTF-8";
/*CSS Document*/

@import "reset";
@import "font_family";
@mixin link_visited_color{color:#CACACA};
$link_color:#000000;
$hover_color:#ff0000;
@mixin rounded_borders($color, $width: 80%, $rounding: 10px) {
  -moz-border-radius: $rounding $rounding;
  -webkit-border-radius: $rounding $rounding; 
  -khtml-border-radius: $rounding $rounding;
  -o-border-radius: $rounding $rounding;
  border-radius: $rounding $rounding;
  border: $width $color solid;
  margin: 0 auto;
  width: auto;
  height: 700px;}



body{
	background-image: url(../imgs/other/back_ground.png);
	background-repeat: repeat-x repeat-y;
	font: 10px;
	width: 100%;
	font-family: $lucida;
}

.body{
	clear:both;
	width: 100%;
	
	.mainHeader{
		height: 85px;
		width: auto;
		overflow: hidden;
		background-color: white;
		
		.logoContainer{
			width:8%;
			height: auto;
			float: left;
			margin-left: .75%;
			padding-top: 12px;
		}
		
		.navLinks{
			height:55px;
			width: 45%;
			float: right;
			margin-top: 10px;
			padding-top: 20px;
				
			ul{
				float: right;
				width: 40%;
			}
			
			a{
				text-decoration: none;
				
			}
		
			li{
				display: block;
				float: left;
				list-style: none;
				margin:3%;
				padding-top: 12px;
			}
		}
	}
}

a:link{
	color: $link_color;
	}
	
a:visited{
	color: $link_color;
}
a:hover{
	color: $hover_color;
}

a:active{
	@extend a:hover;
}

.wrapper{
	margin: 0 auto;
	border: 1px solid #d000ff;
	width: 70%;
	height: 3000px;
	clear: both;
	padding-top: 50px;
	
	.imageGallery{
		@include rounded_borders(#4e4e4e, 20px)
	}
}

#mainGallery{
margin-left: 1.25%;
	a{
	font-size: small;
	margin: .5%;
	margin-top: 10px;
	}
}

#firstPic{
	width:65%;
	display: block;
	margin: 0 auto;
}

.hide{
	display:none;
	}

#albumList{
margin: 0 auto;
width: 80%;
height: auto;
margin-bottom: 20px;
margin-top: 20px;
padding-left: 10%;
	a{
		font-weight: bold;
		font-size:1.5em;
		color: $link_color;
		text-decoration: none;
		margin: 5%
	}
}

.lastCaption{
	border: solid 1px red;
}






